<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <small> {{error}} </small>
            {% endfor %}
        {% endif %}

        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
        {% endfor %}
        <input type="submit" value="Save">
    </form>
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'logout' %}">LogOut</a>
    </form>
</body>
</html>