<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Submit">
        </form>    
        
        <!-- message  -->
        {% if messages %}
            {% for message in messages %}
                <small {% if messages.tags %} class="{{message.tags}}" {% endif%}> {{message}} </small>
            {% endfor %}
        {% endif %}
            
</body>
</html>